body {
}

div.row {
    text-align: center;
}

.opp-item {
    padding: 15px; 
    margin: 10px;
    background-color: rgb(212, 216, 216); 
    display: inline-block; 
    overflow: hidden;
}

.opp-item:hover {
    background-color: rgb(154, 199, 175);
}

.stat-bar {
    padding: 15px;
}

p.big-font {
    font-size: 1.2em;
    margin: 10px;
}

.battle-counter {
    float: right;
}